
    </div>
    <!-- /.container -->


<!-- Javascript
  ================================================== -->
<!-- jQuery -->
<script src="/dep/jquery/dist/jquery.min.js"></script>
<!-- Tether -->
<script src="/dep/tether/dist/js/tether.min.js"></script>
<!-- Boostrap -->
<script src="/dep/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Custom JS -->
<script src="/js/script.js"></script>

</body>

</html>
