<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Un applicativo per fare le assunzioni">
    <meta name="author" content="Andrea Ciraolo">
    <title>Turbo Hire</title>

    <!-- Favicons
  ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/icons/manifest.json">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#94bce9">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#94bce9">

    <!-- Styles
  ================================================== -->
    <!-- Reset -->
    <link href="/dep/reset-css/reset.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="/dep/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/dep/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom css -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <%- include('./navbar') %>

    <div id="body-container" class="container">
