<%- include('./partials/header') %>



<div class="row justify-content-sm-center">
    <div class="col-sm-6 text-center">
        <p><%= message %></p>
    </div>
</div>



<%- include('./partials/footer') %>
